<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilaios.iqxceqhnhubt.da.mapper.UvsvSMapper">

            

    <select id="Activity_0cc1d0p" resultType="java.util.HashMap">
        select j.`uvsv_s__id`,j.`name`,j.`路径`,j.`uvsv_s__id`as id FROM uvsv_s_ j 
		
    </select>

</mapper>